body{
    background-color: white;
    width: 1200px; 
    height: 800px;
    margin: auto; 
    border: 3px solid;
}
hr{
    height:3px;
    border-width:0;
    background-color: black;
}
div.pertama {
    background-color: #b7b8b6 ;
    padding: 16px;
}
div.kedua{
    margin-left: 60px;
}
div.ketiga{
    margin-left: 15px;
}
table.kanan{
    padding: 10px 30px;
    background-color:#b7b8b6;
    float: right;
}
table tr th{
    margin-left: 15px;
}
p.tengah{
    text-align: center;
}
button{
    background-color:white; 
    color: grey;
}
hr.dua{
    background-color:grey;
    height: 2px;
    border-width: 0;
    width: 72%;
}
#card{
    height:50px; 
    width:50px;
}
#card1{
    height:30px; 
    width:50px;
    padding: 10px;
}
#card2{
    height:50px; 
    width:50px;
}
#search{
    height:30px; 
    width:30px; 
    margin-left: 650px;
}
#icon1{
    height:30px; 
    width:30px; 
}
#ok{
    height:60px; 
    width:80px;
}
#icon{
    height:50px; 
    width:50px;
}
#pjg{
    margin-left: 700px;
}
#kot{
    width: 20px;
    height: 20px;
    background-color: black;
}
#pjg1{
    margin-left: 15px;
}
#pjg2{
    margin-left: 15px;
}
#pjg3{
    margin-left: 540px;
}